.RegiContainer {
    margin: auto;
    width: 30%;
}

.p-nav-primary {
    position: sticky;
    top:0;
    z-index: 400;
}

.p-nav-primary {
    position: sticky;
    top:0;
    z-index: 400;
    background-color: #2e2e2e;
}
  
.p-nav{
    display: block;
    overflow-wrap: break-word;
}
  
.p-nav-logo {
    align-self: center;
    box-sizing: border-box;
    display: block;
    max-width: 220px;
    line-height: 21px;
    padding:3px
}
  
.p-nav-inner {
    margin-left: 294.5px;
    margin-right: 294.5px;
    max-width: 1300px;
}
  
.p-nav-scroller{
  display: flex;
}
  
.p-nav-png{
    max-width:220px;
    max-height:37.7167px;
    flex: 1 1 auto;
}
  
.p-nav-opposite{
    text-align: right;
    flex: 1 1 auto;
    margin: 5px
}
  
.p-nav-opposite-link{
    color:#f1f1f1;
    font-weight: bold;
}

.p-nav-png {
    width:220px;
    height:37.7167px;
}

.RegiTitle {
    color:#f1f1f1;
    font-size: x-large;
    font-weight: bold;
    border-bottom: solid 1px #ebc729;
}

.RegiList {
    padding-top: 30px;
}

.OneSevenContainer {
    margin: auto;
    width: 30%;
}

.OneSevenTitle {
    color:#f1f1f1;
    font-size: x-large;
    font-weight: bold;
    border-bottom: solid 1px #ebc729;
    padding-top: 15px;
}

.OneSevenCommandTitle {
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Alpha1Title {
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Bravo1Title {
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Charlie1Title {
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.TwoSevenContainer {
    margin: auto;
    width: 30%;
}

.TwoSevenTitle {
    color:#f1f1f1;
    font-size: x-large;
    font-weight: bold;
    border-bottom: solid 1px #ebc729;
    padding-top: 15px;
}

.TwoSevenCommandTitle {
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Alpha2Title {
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Bravo2Title {
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Charlie2Title {
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ACDContainer {
    margin: auto;
    width: 30%;
} 

.ACDTitle {
    color:#f1f1f1;
    font-size: x-large;
    font-weight: bold;
    border-bottom: solid 1px #ebc729;
    padding-top: 15px;
}

.ACDCommandTitle {
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Alpha3Title {
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Bravo3Title {
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Charlie3Title {
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Delta3Title {
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Echo3Title {
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ROOContainer {
    margin: auto;
    width: 30%;
}

.ROOTitle {
    color:#f1f1f1;
    font-size: x-large;
    font-weight: bold;
    border-bottom: solid 1px #ebc729;
    padding-top: 15px;
}

.ROOStaffTitle{
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.RRDTitle{
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;

}

.RTCTitle{
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;

}

.S5Title{
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.SecOpsContainer {
    margin: auto;
    width: 30%;
}

.SecOpsTitle {
    color:#f1f1f1;
    font-size: x-large;
    font-weight: bold;
    border-bottom: solid 1px #ebc729;
    padding-top: 15px;
}

.SecOpsStaffTitle{
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.JAGTitle{
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.MPTitle{
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.S2Title{
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.IMOContainer {
    margin: auto;
    width: 30%;
}

.IMOTitle {
    color:#f1f1f1;
    font-size: x-large;
    font-weight: bold;
    border-bottom: solid 1px #ebc729;
    padding-top: 15px;
}

.IMOStaffTitle{
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.S1Title{
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.S6Title{
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.WAGTitle{
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.SupportContainer {
    margin: auto;
    width: 30%;
}

.SupportTitle {
    color:#f1f1f1;
    font-size: x-large;
    font-weight: bold;
    border-bottom: solid 1px #ebc729;
    padding-top: 15px;
}

.SPDTitle{
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.S3Title{
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.S7Title{
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.WAGList table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.WAGList thead {
    display: none;
}

.WAGList td {
    padding-bottom: 7px;
    padding-left: 10px;
    width: 50%;
} 