.error-container {
  display: flex;
  align-items: flex-start;
  color: red;
  font-size: calc(1rem + 1vw);
}

.error-icon {
  margin-right: 10px;
}

.error-text {
  font-weight: bold;
}

/* Shake animation */
.shake {
  animation: shake-animation 0.5s ease-in-out;
}

@keyframes shake-animation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.center-text {
  text-align: center;
}
