.masterbox {
    height: 100vh;
    width: 100vw;
}

.logobox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 5em;
    animation: logoboxanim 5s infinite linear;
}


  
@keyframes logoboxanim {
    50% {transform: translateY(20px);}
    100% {transform: translateY(0px);}
}


.buttonbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #f9cc17;
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    font-family: "Roboto","Segoe UI","Times New Roman";
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    border-radius: 0.5em;
    padding: 1em;
    margin-right: 0.25em;
    margin-left: 0.25em;
    
}