.DepartmentContainer {
  margin: auto;
  min-width: 30%;
  max-width: 30%;
}

@media only screen and (max-width: 1000px) {
  .DepartmentContainer {
    min-width: 50%;
    max-width: 95%;
  }
}

.p-nav-primary {
  position: sticky;
  top: 0;
  z-index: 400;
  background-color: #2e2e2e;
  margin-bottom: 1.2em;
}

.p-nav {
  display: block;
  overflow-wrap: break-word;
}

.p-nav-logo {
  align-self: center;
  box-sizing: border-box;
  display: block;
  max-width: 220px;
  line-height: 21px;
  padding: 3px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 60vh;
  flex-direction: column;
}

.gif-spinner-wrapper {
  position: relative;
}

.spinner {
  border: 0.5em solid #f3f3f3;
  border-top: 0.5em solid #ebc729;
  border-radius: 50%;
  width: 11em;
  /* Make this larger than the GIF */
  height: 11em;
  /* Make this larger than the GIF */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 1;
  margin: -4em 0 0 -4.5em;
  /* Half of width and height */
}

.p-loading-png {
  width: 8em;
  height: 8em;
  position: relative;
  z-index: 2;
  transform: translatex(-7%);
}

.loading-subtitle {
  color: #f1f1f1;
  font-size: x-large;
  font-weight: bold;
  padding: 1em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.cache-time {
  color: #ebc729;
  font-weight: bold;
  margin-left: 20px;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  min-height: 100vh;
}

.p-nav-scroller {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-nav-png {
  max-width: 220px;
  max-height: 37.7167px;
  flex: 1 1 auto;
}

.p-nav-opposite {
  text-align: right;
  flex: 1 1 auto;
  margin: 5px;
}

.p-nav-opposite-link {
  color: #f1f1f1;
  font-weight: bold;
}

.p-nav-png {
  width: 220px;
  height: 37.7167px;
}

.p-nav-info p {
  display: flex;
  align-items: center;
}

/* Mobile layout */
@media (max-width: 768px) {
  .p-nav-scroller {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Center-align items vertically */
  }

  .p-nav-info p {
    margin-left: 0;
    margin-top: 10px;
    /* Add some space between the logo and the text */
  }
}

.Title {
  color: #f1f1f1;
  font-size: x-large;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #ebc729, transparent) 1 0%;
  border-top: transparent;
}

@media only screen and (max-width: 1000px) {
  .Title {
    border-image: none;
    border-color: #ebc729;
    border-left: transparent;
    border-right: transparent;
  }
}

/* This is a very hack-y way to make the borders look proper on mobile browsers. This is because the border image property does not appear to be properly supported with IOS' Safari */

.Subtitle {
  color: #f1f1f1;
  font-size: larger;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*.Title:hover {
  text-decoration: none;
  cursor: pointer;
} */

.HeaderContainer {
  display: flex;
}

.Counter {
  font-size: smaller;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-left: auto;
}

.ItemList table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.ItemList thead {
  display: none;
}

.ItemList td {
  padding-bottom: 7px;
  padding-left: 10px;
  width: 50%;
}

.Collapsible__trigger {
  display: block;
  position: relative;
}

.Collapsible__trigger:after {
  content: none;
  position: absolute;
  right: 0px;
  top: 0px;
  display: block;
  transition: transform 300ms;
  transform: rotateZ(90deg);

  /* No idea why i have to do this stupidity. For some reason if I dont do this, this shit becomes off centered */
  transform-origin: 67% 67%;
}

.Collapsible__trigger.is-open::after {
  transform: rotateZ(180deg);
  position: absolute;
  right: 0px;
  top: 0px;

  /* No idea why i have to do this stupidity. For some reason if I dont do this, this shit becomes off centered */
  transform-origin: 67% 67%;
}
